.feed {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.feed-container{
    margin: var(--gap-small) 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.feed-img {
    width: 80%;
    height: 205px;
    border: 10px solid var(--color-secondary); 
}

.feed-title {
    margin-top: var(--gap-small);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.feed-content {
    width: 80%;
    font-size: 20px;
    margin-top: var(--gap-small);
    text-align: center;
}


@media (min-width: 480px) and (max-width: 768px){
    .feed-container {
        width: 70vw;
    }
}

@media (min-width: 768px) {
    .feed {
        flex-direction: row;
        margin: var(--gap-big) auto;

    }

    .feed-container {
        width: 30vw;
    }
}