.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    margin-top: var(--gap-small);
    
}
.header-text{
    width: 90vw;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.header-title {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.header-content {
    color: #ffffff;
    display: flex;
    text-align: center;
    font-size: 22px;
    margin-top: var(--gap-small);
}

.banner {
    width: 100vw;
    height: 210px;
}